/*
# es para ID
. es para class
* es para todo del documento solo si no han sido definidas
p.texto o div p - es para lo q este dentro de div o p
div h2, div h3 es para "," es para varios a la misma vez


*/
#titulo{
    color: blue;
    font-size:40px;
}
p.texto{
    color:tomato;
}
p.especial{
    color:darkmagenta;
}

div p {
    color:chartreuse;
}
div h2, div h3{
    color:brown;
}

*{
    font-size:24px;
    /*color:black;*/
}
/*
}
.color{
    color:#ff0000;
}
.color{
    color:rgb(0,255,255);
}
*/
.color{
    /* border:5px red groove; */
    /*
    dotted
    dash
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    */
    border-style: solid;
    border-color: blue;
    border-radius: 7px;
    border-width: 1rem;/*IMPORTANTE rem es el mas utilizado porque se redimenciona segun la base html*/
    /* px - cm - mm - in - pt - pc - em - rem*/
}

#fondo {
    background-color: rgba(255,0,0);
    /*opacity: 0.3;*/ /*le da transparencia al elemento completo*/
    height: 600px;
    /*width: 300px;*/
    background-image: url('hutao.jpg');
    
    /*background-repeat: repeat-y;
    background-position: center top;/*2 valores (left-right-center ---- top-center-bottom )*/
    background: #f00 url('hutao.jpg') repeat-y center top / 200px 300px;
    /*background-size: 200px 300px ;
    /* rgba(0,0,0,0) - TRANSPARENCIA solo al backgroundsiendo el ultimo numero de "0 a 1" */
}
.margen{
    background-color: chocolate;
    /*box model
    sumar margin padding width border*/
    margin: 15px;/*(1 o 4 valores)margenes invisibles por fuera*/
    padding: 30px 15px 5px;/*(1 o 4 valores) margenes invisibles por dentro*/
    border: solid 1px black;
    height: 200px;
    width: 50px;
    overflow: scroll;/*invisible para q no se salga del margen
    scroll para q aparezca una barra y porder ver toda la letra*/
    outline: 1px solid red;
}

.texto {
    font-family: 'Edu TAS Beginner', sans-serif;
    /*para jalar alguna fuente ir a la pagina https://fonts.google.com/
    y copiar el link y pegarlo en el html/head -> luego en font-family: usar '', sans-serif es por si no carga la otra fuente*/
    text-align: justify;/*agrega un pequeño espacio en cada palabra para q utilize todo el espacio*/
    text-decoration: underline line-through overline;/*line abajo medio y arriba*/
    text-shadow: 3px 5px 5px orange; /*4 valores (IMPORTANTE el 3er valor es la opacidad)*/

}

/* USAR SIEMPRE EN ESTE ORDEN LINK VISITED HOVER ACTIVE */
a:link {
    color:blueviolet;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

a:active {
    color:red;
}

ul {
    background-color: cyan;
    list-style-type: square;
    /*list-style-type: none; *//*Eliminar los puntos con none*/
    /* padding-left: 0; */
    /*list-style-position: inside;*/

}
table {
    width: 100%; /*utiliza cierto porcentaje del ancho de la pagina*/
    border-collapse: collapse;/*borde sin separacion como en el excel*/
}
th, td {
    border: solid 1px #eee;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;/*manito como si estuviera seleccionando*/
}

span {
    display: block;/* IMPORTANTE de usar */ /*fuerza q los elementos partan de una nueva linea*/
    /* display: none; */
    /* visibility: hidden; */
    max-width: 300px;
    background-color: #f00;
}

.inline {
    display: inline; /*display viene por defecto en display <a> <img>*/
}

#position {
    /* position: fixed; */ /*es como los anuncios asquerosos q te siguen por toda la pagina*/
    /* position: absolute; *//*se queda quieto*/
    position: sticky;/*mezcla entre relative y fixed (se usa top)*/
    left: 20px;
    top: 25px;
}

.left {
    float: left;
    width: 200px;
    height: 200px;
}

.right {
    float: right;
}

.container {
    height: 200px;
}

.column {
    /* border: solid 0px #ddd;
    border-radius: 5px; */
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block {
    display: inline;
    height: 55px;
    background-color: red;
}
/*elementos html q tienen una propiedad display cuyo valor es inline no se les
puede asignar la propiedad de width ni height*/

.center {/*siempre un ancho*/
    padding: 50px 0;
    text-align: center;
    width:200px;
    margin: 0 auto;
    background-color: aqua;
}